<style>
.display.adf {
    background-color: #300;
    border-style: inset;
    border-color: #888;
    min-height: 10vw;
    width: 66vw;
    margin-left: 5vw;
}

#adf {
    position: absolute;
    width: 30vw;
    height: 10vw;
    left: 10vw;
    top: 0;
}
</style>
<div class="panel">
    <table style="width:100%">
        <tr>
            <td>&nbsp;</td>
            <td class="labels">ADF</td>
        </tr>
        <tr>
            <td><div class="display adf"><canvas id="adf" class="segmentDisplay" data-segmentDisplay='{"value":"0123.4", "pattern":"####.#"}'></canvas></div></td>
            <td rowspan="2">
                <img src="img/knob.svg" class="knob adf" onclick="$im.keypad.show('ADF_COMPLETE_SET')">
            </td>
        </tr>
        <tr>
            <td >
                <button id="adfident" onclick="$im.sendEvent('RADIO_ADF_IDENT_TOGGLE')" class="button" style="margin-left:5vw">ADF</button>
            </td>
        </tr>
    </table>
</div>
