<div class="panel">
    <table style="width:100%">
        <tr>
            <td colspan="6"><div class="display com">
                <canvas id="com{id}act" class="radio-freq active comact"></canvas>
                <canvas id="com{id}stb" class="radio-freq standby comstb"></canvas>
                <canvas id="nav{id}act" class="radio-freq active navact"></canvas>
                <canvas id="nav{id}stb" class="radio-freq standby navstb"></canvas>
            </div></td>
        </tr>
        <tr>
            <td style="padding-left:2vw; vertical-align: text-top;">
                <span class="labels">COMM{id}</span>
                <br><button id="com{id}trs" onclick="$im.sendEvent('COM{id}_TRANSMIT_SELECT')" class="button">TRS</button>
                <br><button id="com{id}rcv" onclick="$im.sendEvent('COM_RECEIVE_ALL_TOGGLE')" class="button">RCV</button>
            </td>
            <td>
                <button onclick="$im.sendEvent('COM{id}_RADIO_SWAP')" class="button on" style="margin-left:5vw">&#8596;</button>
            </td>
            <td>
                <img src="img/knob.svg" class="comm-knob" onclick="$im.keypad.show('COM{id}_STBY_SET')">
            </td>
            <td style="padding-left:2vw; vertical-align: text-top;">
                <span class="labels">NAV{id}</span>
                <br><button id="nav{id}idt" onclick="$im.sendEvent('RADIO_VOR{id}_IDENT_TOGGLE')" class="button">IDT</button>
            </td>
            <td>
                <button onclick="$im.sendEvent('NAV{id}_RADIO_SWAP')" class="button on" style="margin-left:5vw">&#8596;</button>
            </td>
            <td>
                <img src="img/knob.svg" class="comm-knob" onclick="$im.keypad.show('NAV{id}_STBY_SET')">
            </td>
        </tr>
    </table>
</div>
